<h1>Display your Pirate here</h1>



<li>Name :<%= @pirate.name %></li>
<li>Weight :<%= @pirate.weight %></li>
<li>Height :<%= @pirate.height %></li>

<ul>
 <% @ships.each do |ship| %>
<li>Name: <%= ship.name %></li>
<li>Type: <%= ship.type %></li>
<li>Booty: <%= ship.booty %></li>
<% end %>
</ul>
